* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    --main: 103, 179, 224;
    --dark: 19, 27, 35;
    --light: 233, 241, 247;
    --gap: 2rem;
}

html, body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: rgb(var(--main));
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}